{%extends 'generator/base.html'%}
{%block content%}
<div class="container_info">
    <div class="div_info">Это приложение сделано С помощью фрэймворка Django студентом группы Python215 Полтавцевым ПС</div>
<hr>
    <div class="div_info">Приложение создано в учебных целях</div>
<hr>
    <div class="div_info">С помощью данного приложения можно генерировать пароль длинной количества символов от 6 до 12, пароль представляет из себя символы английского алфавита в нижнем регистре, также можно выбрать подключение символов цифр, некоторых спец символов, а токже сиволов английского алфавита в верхнем регистре</div>
    </div>
    <p class="info"><a href="{%url 'home'%}">Вернуться на главную</a></p>
{%endblock%}