{%extends 'base.html'%}
{%block content%}
{% for cat, msg in get_flashed_messages(True) %}
  <div class="flash {{ cat }}">{{ msg }}</div>
{% endfor %}
<form action="{{ url_for('first_prod') }}" method="post">
<div class="container">
        <h2 class="name">Первый товар</h2>
        <h2 class="price">48500</h2>
        <div class="info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis adipisci natus eaque hic nesciunt deserunt praesentium consequatur deleniti, rem similique exercitationem dignissimos explicabo veritatis! Ad distinctio libero pariatur sunt praesentium!</div>
        <input type="text" name="title" value="Первый товар">
        <div class="input"><input type="submit" value="Купить"></div>
    </div>
</form>>
{%endblock%}