{%extends 'base.html'%}
{%block content%}
<h1>Pricing</h1>
<div class="content">
    <div class="container">
        <h2 class="name">Первый товар</h2>
        <h2 class="price">48500</h2>
        <div class="info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis adipisci natus eaque hic nesciunt deserunt praesentium consequatur deleniti, rem similique exercitationem dignissimos explicabo veritatis! Ad distinctio libero pariatur sunt praesentium!</div>
        <div class="input"><input type="submit" value="Купить"></div>
    </div>
    <div class="container">
        <h2 class="name">Второй товар</h2>
        <h2 class="price">42800</h2>
        <div class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores voluptatum eius nesciunt impedit totam corrupti animi quisquam modi explicabo. Hic quis est illo, consequuntur quos quas officia ratione corrupti maiores!</div>
        <div class="input"><input type="submit" value="Купить"></div>
    </div>
    <div class="container">
        <h2 class="name">Третий товар</h2>
        <h2 class="price">39200</h2>
        <div class="info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius eum totam iusto quia iste exercitationem, laudantium quaerat aut facere nostrum, necessitatibus sit doloribus tempora saepe. Facilis ducimus sit est similique.</div>
        <div class="input"><a href="http://">Купить</a></div>
    </div>
</div>
{%endblock%}
