.body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2{
    text-align: center;
}
h1{
    text-align: center;
    color: aquamarine;
}
.img{
    text-align: center;
}
.place{
    text-align: center;
}