body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:beige;
}
.content{
    display:flex;
    justify-content: space-between;
}
.container{
    border: solid 1px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 15px;
    max-width: 500px; 
}
.menu{
    display: flex;
    justify-content: space-between;
    list-style: none;
    background: aqua;
    margin-top: 0;
    padding: 20px;
}
h1{
    text-align: center;
    font-size: 40px;
    color: blue;
}
.name{
    background-color: aqua;
    margin-top: 0;
    border-radius: 15px 15px 0 0;
    text-align: center;
}
.price{
    text-align: center;
}
.block_info{
    border: groove;
    margin-top: 15px;
}
.text{
    display: none;
}
.success{
    border: 1px solid #21Db56;
    background: #AEFFC5;
}
.error{
    border: 1px solid #FF4343;
    background: #FF9C9C;
}
.flash{
    padding: 10px;
}
.pay{
    text-align: center;
}
.sub{
    height: 40px;
    width: 300px;
    font-size: 18px;
    background: #36e968;
    margin-bottom: 10px;
    border-radius: 15px;
}
.item{
    display: none;
}
.pay_link{
    height: 40px;
    text-align: center;
    background: #36e968;
    font-size: 28px;
    border-radius: 15px;
}
.lin{
    color: #050500;
    text-decoration: none;
}
.container_pay{
    background: #f0cdf5;
}
.name_pay{
    background-color: aqua;
    margin-top: 0;
    text-align: center;
}
li{
    list-style-type: none;
}
.trash{
    font-size: 28px;
    text-align: center;
    background: #AEFFC5;
}
button{
    background: #f0cdf5;
    font-size: 30px;
    border-radius: 15px;
    width: 400px;
}
.trash_pay{
    text-align: center;
}