body{
background: lemonchiffon;
margin: 0;
padding: 0;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.menu{
    display: flex;
    justify-content: space-between;
    list-style: none;
    background: aqua;
    margin-top: 0;
    padding: 20px;
}
h2{
    text-align: center;
    color: green;
    margin-bottom: 40px;
    margin-top: 40px;
}
p{
    margin-top: 40px;
    text-indent: 30px;
}